footer {
    background-color: #31373b;
    color: white;
    padding: 1em 0;
    text-align: center;
  }
  
  .footer-container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 100vh;
    margin: 0 auto;
  }
  
  .footer-section {
    flex: 1;
    min-width: 20vh;
  }
  
  .footer-section h4 {
    font-size: 1em;
    margin-bottom: 10px;
  }
  
  .footer-section ul {
    list-style: none;
    padding: 0;
  }
  
  .footer-section ul li {
    margin: 5px 0;
  }
  
  .footer-section ul li a {
    color: white;
    text-decoration: none;
  }
  
  .footer-section ul li a:hover {
    color: #40c9c9;
	padding-left: 1em;
  }
  
  .social-icons {
    display: flex;
    justify-content: space-around;
    padding: 0;
  }
  
  .social-icons a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;
  }

  .social-icons a:hover {
    color: #40c9c9;
  }

  @media (max-width: 181px){
    .social-icons {
      display: none;
    }
  }