* {
    box-sizing: border-box;
}

body {
    background-color:#2f363e ;
}

form {
    padding-top: 2rem;
    max-width: 30rem;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

label {
    margin-bottom: 0.2rem;
    font-weight: bold;
}

input, select, textarea, button {
    width: 100%;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 0.5rem;
}

input[type="checkbox"] {
    width: auto;
}

button {
    background-color: #40c9c9;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #1b8a8a;
}

input:invalid, textarea:invalid {
    border-color: red;
}

input:invalid:focus, textarea:invalid:focus {
    outline: solid 2px red;
    border-color: red;
    box-shadow: 0 0 5px red;
}

.checkmark {
    display: flex;
    align-items: center;
}

.checkmark input {
    margin-right: 1rem;
}


/* this is code for the image switcher that I didn't get to work with a clicklabel for checkmark
.checkmark img {
    width: 20rem;
    height: 10rem;
}

.image1 {
    display: none;
}

.checkmark input[type="checkbox"]:checked ~ .image1 {
    display: block;
}

.checkmark input[type="checkbox"]:checked ~ .image2 {
    display: none;
} */


.error {
    color: red;
    font-size: 0.9em;
}
::placeholder {
    color: red;
}

.form-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-height: fit-content;
}

.form-container form {
    max-width: 100%;
}

.checkmark label {
    color: white;
}
input[type="checkbox"] {
    transform: scale(1.5);
}
