*{
	box-sizing: border-box;
}

body{
	margin: 0;
}

.timeline-section{
	background-color: #24292d;
	padding: 5rem 1rem;
}
.timeline-items{
	max-width: 60rem;
	margin:auto;
	display: flex;
	flex-wrap: wrap;
	position: relative;
}
.timeline-item{
	margin-bottom: 2rem;
	width: 100%;
	position: relative;
}
.timeline-date{
	font-size: 18px;
	color:  #40c9c9;
	margin: 1rem ;
	font-weight: bold;
	text-transform: uppercase;
	
}
.timeline-content{
    background-color: #2f363e;
	padding: 2rem;
	border-radius: 1rem;
}
.timeline-content h3{
    font-size: 20px;
	color: #220d0d;
	text-transform: capitalize;
	font-weight: 500;
}
.timeline-content p{
    color: #c8c8c8;
	font-size: 1.5rem;
	font-weight: 300;
}
.timeline-content {
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.1);
}
.timeline-content:hover{
    box-shadow: 0 8px 8px rgba(0, 0, 0, 0.3);
}
.timeline-date:hover{
    color: #b89112;
}

@keyframes fadeIn {
	from {
		transform: scale(0.9); opacity: 0;}
	to {
		transform: scale(1); opacity: 1;}
	}


.timeline-item {
	opacity: 0;
	animation: fadeIn 1s forwards;
	animation-delay: 0.5s;
    animation-timing-function: view(0.5);
	animation-range-start: contain;
	animation-range-end: contain; 
	}



 .timeline-item.in-view {
	opacity: 1;
} 

